[2017-05-04 09:08] kkomelin opened #2 "Take care of a change log"
It can be a separate section of the readme or a wiki page.

[2017-05-04 09:57] kkomelin opened #3 "Refactor Exporter class"

[2017-05-04 09:58] kkomelin opened #4 "Develop automated tests"

[2017-05-04 10:00] kkomelin opened #5 "Make directories, patterns and functions configurable"
@gaussian1 has started the work in https://github.com/kkomelin/laravel-translatable-string-exporter/pull/1

[2017-05-08 07:04] kkomelin commented on #5
Just [created 0.2.0 release](https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/0.2.0) which includes the configuration feature.
[Described](https://github.com/kkomelin/laravel-translatable-string-exporter/wiki/Configuration-and-Project-Defaults) configuration defaults and how to override them.

Thanks @gaussian1 for your contribution.

[2017-05-08 07:04] #5 closed

[2017-05-11 18:00] kkomelin commented on #2
Decided to describe releases, so that their list works as a changelog.

[2017-05-11 18:00] #2 closed

[2017-05-11 18:15] #3 closed

[2017-05-11 18:24] kkomelin opened #6 "Get rid of Symfony\Finder dependency. Use built-in Filesystem class instead ?"

[2017-06-10 06:33] kkomelin commented on #6
It doesn't make much sense because Symfony\Finder is more flexible and configurable.

[2017-06-10 06:33] #6 closed

[2017-08-23 07:11] kkomelin opened #7 "Package Auto-Discovery for Laravel 5.5"
https://medium.com/@taylorotwell/package-auto-discovery-in-laravel-5-5-ea9e3ab20518

[2017-08-23 07:35] kkomelin opened #8 "Separate translation file for frontend strings"
### The motivation

When we load and translate strings on the frontend level through JS, we shouldn't load translations for strings collected from PHP code. We can save bandwidth and time if we only load translations for strings found in JS code.

### The solution

It would be great if we have two files for each language:
- **es.json** - used by Laravel translation system through PHP on backend
-

[2017-09-08 15:55] kkomelin opened #9 "Fix Laravel 5.5 compatibility issue"
As for the Laravel 5.5 documentation https://laravel.com/docs/5.5/upgrade, it's necessary to rename rename `App\Console\Commands\ExportCommand::fire()` to `App\Console\Commands\ExportCommand::handle()`.
Moreover, to continue supporting Laravel 5.4 we can keep `fire()` method as an alias for `handle()`.

[2017-09-11 11:22] kkomelin commented on #8
As soon as, there is no interest to this task from the community it doesn't make sense to implement it.

[2017-09-11 11:22] #8 closed

[2017-09-11 11:38] kkomelin commented on #9
Implemented.

[2017-09-11 11:38] #9 closed

[2017-09-11 11:39] kkomelin commented on #7
Done.

[2017-09-11 11:39] #7 closed

[2017-09-11 18:28] kkomelin opened #10 "Implement removing nonexistent strings from a translation file"
The necessity occurs when you change an original string in code.

[2017-09-11 18:32] #10 closed

[2018-02-10 17:06] gemal opened #11 "Support @lang in blade files"
https://laravel.com/docs/5.5/localization

please support the @lang function

[2018-02-10 17:41] kkomelin commented on #11
@gemal Good suggestion/request. Thanks.
Theoretically, the package supports it if you add the function to the function array in the config.

To do that, you may want to import package default config to your app config folder:
[code]
Then add `@lang` function to the 'functions' array of config/laravel-translatable-string-exporter.php:
https://github.com/kkomelin/laravel-translatable-string-exporter

[2018-02-10 17:56] kkomelin commented on #11
@gemal Thanks again. I've added `@lang` to the default package config. Apply the same changes https://github.com/kkomelin/laravel-translatable-string-exporter/commit/7420153d798a6c8cf9f43115c678f40881e4d749 to your config/laravel-translatable-string-exporter.php and you'll be Okay.

[2018-02-10 18:16] kkomelin commented on #11
Here is the release https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/0.3.2

[2018-02-10 19:03] gemal commented on #11
shouldn't this also be added to __construct in Parser.php ?

[2018-02-10 19:22] kkomelin commented on #11
@gemal Good catch. I've missed it. Will add.

[2018-02-10 19:33] kkomelin commented on #11
@gemal Done. Please test https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/0.3.3

[2018-02-13 06:49] kkomelin commented on #11
@gemal I'm closing the issue for now. Please let me know if you catch any bugs.

[2018-02-13 06:49] #11 closed

[2018-03-09 10:06] gemal opened #12 "Add support for Laravel 5.6"
Any chance for support for Laravel 5.6?

[2018-03-09 10:38] kkomelin commented on #12
@gemal Thank you the inquiry.
I'm currently working on the 5.6 support. I suppose the only think we need to change is to increase `symfony/finder` version.

[2018-03-09 10:58] gemal commented on #12
perfect!

[2018-03-09 11:01] kkomelin commented on #12
@gemal Could you please test it before I make a release?
[code]
This command will install the latest dev snapshot to your project.

[2018-03-09 11:10] gemal commented on #12
seems to work ok for me

[2018-03-09 11:11] kkomelin commented on #12
@gemal Thanks. Works for me too, so will make a release.

[2018-03-09 11:35] kkomelin commented on #12
Here it is https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/0.4.0

[2018-03-09 11:35] #12 closed

[2018-08-27 21:32] dacoto opened #13 "Add support for Laravel 5.7.*"
Add support for Laravel 5.7.*

[2018-08-28 04:17] kkomelin commented on #13
@dacoto Sorry, what?

[2018-08-28 16:05] dacoto commented on #13
When I install it with laravel 5.7:
![image](https://user-images.githubusercontent.com/16915053/44735478-f0937700-aaec-11e8-90c7-aa05dd62f0dc.png)

[2018-08-28 16:57] kkomelin commented on #13
@dacoto Please try the master branch. I've just made the necessary commit https://github.com/kkomelin/laravel-translatable-string-exporter/commit/a1ec30d5021b7a075d1a7fd635f36767a4062a3b
I didn't test it, so please test and let me know if it works for you.

[2018-08-28 17:08] dacoto commented on #13
Update at packagist.org

[2018-08-28 17:15] kkomelin commented on #13
@dacoto Done. Thanks for the reminder.

[2018-08-28 17:30] dacoto commented on #13
Works

[2018-08-28 17:41] kkomelin commented on #13
Thank you @dacoto for reporting the issue and helping with testing!
If you don't mind, I will keep the issue open until I test it myself and create a new release.

[2018-08-28 18:52] dacoto commented on #13
Ok

[2018-09-03 15:24] kkomelin commented on #13
Released https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/0.5.0

[2018-10-18 08:13] kkomelin opened #17 "Enable translation sorting by default in the next major release"
Re https://github.com/kkomelin/laravel-translatable-string-exporter/pull/14

[2018-11-24 16:34] kkomelin commented on #17
Done here https://github.com/kkomelin/laravel-translatable-string-exporter/commit/74a9a8c69db77b10335b82b772381f6af013e1fc . Will be included in the next major release.

[2018-11-24 16:34] #17 closed

[2018-11-24 21:01] #4 closed

[2018-12-16 06:31] kkomelin opened #20 "Add a console command for detecting untranslated strings in translation files"

[2019-02-16 13:56] dacoto opened #22 "Add support for Laravel 5.8.*"
Add support for Laravel 5.8.*

[2019-02-17 14:13] kkomelin commented on #22
Pull requests are always welcome, @dacoto  ;)

[2019-02-19 20:50] dacoto commented on #22
composer.json:
"illuminate/support": "5.4.*|5.5.*|5.6.*|5.7.*|5.8.*",
"illuminate/translation": "5.4.*|5.5.*|5.6.*|5.7.*|5.8.*",

[2019-02-20 04:19] kkomelin commented on #22
@dacoto Thanks. But Is there a way to test this? In other words, are you sure that the code of the package will have been compatible with Laravel 5.8 by the time of the official release?

[2019-02-20 08:22] kkomelin opened #23 "Prepare for 1.18.0"
### Goal

- Remove outdated PHP features and update the code.
- Enable some useful options in the config by default.

### Roadmap
- [x] #76

[2019-02-20 08:26] kkomelin opened #24 "Configure Continuous Integration to test all supported PHP versions"
What is the best for our case?
- Travis CI
- Circle CI
- Your option

[2019-02-20 10:53] dacoto commented on #22
I don't know, but laravel 5.8 comes out in a couple of months, now we have the develop branch that can be tested, there are not many changes, so I think it will be compatible.

[2019-02-20 12:48] kkomelin commented on #22
@dacoto I appreciate your help in keeping the package up to date.
I see three options here:
1) Do nothing until Laravel 5.8 is released. It worked Okay for previous releases because I guess not many people upgrade their projects right on the day of the release.
2) Wait until I release 1.1.0 version of this package and then commit your proposed change to the master branch of the package and not rel

[2019-02-26 05:07] kkomelin commented on #22
Some updates:
1) 1.1.0 is here https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.1.0
2) Laravel 5.8 releases today https://twitter.com/laravelphp/status/1100068185267679232?s=11

I think it's time to start working on the Laravel 5.8 support.

[2019-02-27 05:17] kkomelin commented on #22
Just released 1.2.0 with Laravel 5.8 support. Please test @dacoto. Thanks

[2019-02-27 08:29] dacoto commented on #22
Ok, thanks.

[2019-02-27 08:42] dacoto commented on #22
Everything works perfectly with laravel 5.8, Thank you very much.

[2019-02-27 08:42] #22 closed

[2019-02-27 14:01] kkomelin commented on #22
You're welcome, @dacoto. Thank you for reminding me about adding support for new releases of Laravel.

[2019-04-02 09:42] yurii-github opened #25 "How to export from default translation files with keyed strings?"
it puts all data into json.
but what about translations that are located in resources/lang/{lang}/{key}.php ?

example: trans('validation.some.error') must go to _resources/lang/{lang}/validation.php_

regards

[2019-04-02 13:59] kkomelin commented on #25
Thanks for your question @yurii-github.
It's easy. Just wrap each text string from `resources/lang/{lang}/{key}.php` into `__()` function and run export again.

[2019-04-02 18:47] yurii-github commented on #25
evening

yes, I understood that I could use such approach, and I did it for some strings, but in result those strings will be saved in en.json file as
[code]
but not in en/validation.php as I want
[code]
So, my point is, to use `trans()` to store in php file, and use `__()` to store in json file. Or do you think it makes no sense to separate ton of validation strings into its own space?

regards

[2019-04-02 19:24] yurii-github commented on #25
I'll check tomorrow with file `persistent-strings.json` , so all  custom overrides for laravel validation strings won't be deleted. maybe putting all strings into single json file is not such a bad idea..

[2019-04-03 06:45] kkomelin commented on #25
[code]
No, they won't.

First of all, if English is your default language, you don't need that `en.json`.
Secondly, if you only wrap text strings (not keys) into `__()`, the format of the translation file will be:
[code]
If the format of your JSON translation file is not like this, it may be a bug. Please give me more details on the issue. What do you wrap into `__()` and what result do your recei

[2019-04-04 15:55] yurii-github commented on #25
in my app default language can be changed from en to anything else. I just use english strings so I can understand what is all about. in some places i use keys instead, like in validation strings, so errors can be structured, so i use trans() for keyed strings and __() for readable strings

functions don't work the same

[code]

something like that

![image](https://user-images.githubusercontent.c

[2019-04-04 17:02] kkomelin commented on #25
Ah Okay. Good to know. Thanks.

[2019-04-05 18:42] yurii-github commented on #25
if you don't mind i will hold this issue open for a while. i may add my solution when have some time or maybe somebody will come up with their own.

regards

[2019-04-05 18:48] kkomelin commented on #25
Of course, Yurii. Thanks

[2019-05-01 19:56] philippejadin opened #26 "Feature request: put untranslated strings at the beginning of the file"
Hello first, this is a great package, thanks for publishing it!

As the title says, it would be nice to have the unstranslated strings at the top of the json file, followed by the other strings, all in alpha order.

This would be a config option... Is it possible?

[2019-05-02 08:41] kkomelin commented on #26
Hi @philippejadin,

Thank you for your feature request.

I see one problem with that approach... You won't be able to visually detect duplicate strings across the entire file as you may do with `'sort-keys' => true` in config.

Alternatively,  you may do the following:
- Search with a regular string in your editor as described here https://github.com/kkomelin/laravel-translatable-string-exporter#f

[2019-05-02 09:57] philippejadin commented on #26
Thank you for the quick reply. I guess that #20 will be fine. Alternatively, maybe in the json file there could be a hint that a string is not translated while keeping the sort by key feature. But as far as I know you can't put comments in json so I don't know how to do it. Maybe indentation ?

This is not a priority I guess

[2019-05-02 12:24] kkomelin commented on #26
Ah, thanks. Additional indentation is a good idea I think. Let me experiment with it and see if it's possible.
Let's keep the issue open for now.

[2019-07-19 07:53] #20 closed

[2019-08-07 07:21] CristianEstiber opened #27 "inspect-translations not working, only if I export"
Hi i'm using php artisan translatable:inspect-translations eng, that is a json file that I have with some translations, then I added a few more with @lang('blabla') on my blades, running ths command says: **Did not find any untranslated strings in the eng.json file.** shouldn't it add the new ones?

Btw is there any way to add new translations but with empty string instead of the key?

EDIT: Doing

[2019-08-07 07:36] CristianEstiber opened #28 "Is there a way to create the file with empty strings?"
When I export all translatable tags to my json it writes the same key and value, is it possible to add in config a boolean to translate them to an empty string or custom string? thanks!

[2019-08-07 07:40] kkomelin commented on #27
Hi @CristianEstiber,

Thanks for asking your questions.

To export new translations before inspecting the translation file, please use `--export-first` parameter like this:

[code]
Read more in the README https://github.com/kkomelin/laravel-translatable-string-exporter#find-untranslated-strings-in-a-language-file-command

No, it isn't.
Event if there was a way, you would see empty strings on your

[2019-08-07 08:19] kkomelin commented on #28
Answered here https://github.com/kkomelin/laravel-translatable-string-exporter/issues/27#issuecomment-518980048

[2019-08-07 08:58] kkomelin commented on #28
Thanks @CristianEstiber for contacting me.
Have a nice day,
Konstantin

P.S. Would you mind to let maintainers close the issues you open? It might be good to keep some issues open for some time so that the community could learn from them.

[2019-08-07 10:15] CristianEstiber commented on #28
sure, done, thanks for all

[2019-08-08 07:27] CristianEstiber opened #29 "Importing placeholders as well?"
Hi again, testing I noticed that if you have a string like that

 it wont import in to your json like that:

Any posibility to implement this? (If isn't alredy implemented)

[2019-08-08 10:14] kkomelin commented on #29
Hi @CristianEstiber,

I'm afraid your code is not correct.
It should be:
[code]

[2019-08-08 10:27] CristianEstiber commented on #29
In https://laravel.com/docs/5.8/localization it does echo without the placeholder, only giving the parameter.
So when exporting it stores "Hello  :name": "Hello :name", then if I want to translate only @lang('Hello') in other place I would have to create a new translation for Hello and I think its ineficient

[2019-08-08 10:33] kkomelin commented on #29
You can always go and try it yourself which I did before responding to your message.

My opinion is that `Hello :name` and `Hello` are two different strings at least because of the blank space in the first one, so I don't think any changes are necessary in the kkomelin/laravel-translatable-string-exporter at least until Laravel core would support the approach you are proposing.

[2019-08-08 10:34] #27 closed

[2019-08-08 10:34] #28 closed

[2019-08-08 11:15] CristianEstiber commented on #29
One question more, what about @choice?

[2019-08-08 12:20] kkomelin commented on #29
@CristianEstiber

The same as about other translation functions, such as `_t()` or `__()`.
You just add `trans_choice` function to the package config (the `functions` section) https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/config/laravel-translatable-string-exporter.php#L17 and the package will export translatable strings passed to all `trans_choice()` function calls

[2019-09-12 15:33] kkomelin commented on #24
https://github.com/kkomelin/laravel-translatable-string-exporter/commit/b5bdca49e21f83989976da6e4af016e8bf6a2024

[2019-09-12 16:10] kkomelin commented on #24
Done.

[2019-10-14 15:22] kkomelin opened #34 "Add Laravel 6.2 support"
https://github.com/laravel/laravel/releases/tag/v6.2.0

[2019-10-14 16:23] #34 closed

[2019-10-24 08:33] johannpinson opened #35 "Add Support for Laravel 6.3.x and 6.4.x"
Hello @kkomelin

Is it possible to add shortly the support for Laravel 6.3.x ?

[code]

Thanks,

[2019-10-24 11:44] kkomelin commented on #35
Hello @johannpinson,
Thank you for your request.
Yes, give me a day or so to add support for 6.3 and 6.4 versions.
The problem with the updates is that Laravel developers are very active these days and release the framework very often. In fact, your just requested support for 6.3 and they already released 6.4.

[2019-10-24 20:34] kkomelin commented on #35
Hi @johannpinson,
I've added the support https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.6.0
Please test and let me know if it works for you.

[2019-10-24 20:34] #35 closed

[2019-10-25 08:56] johannpinson commented on #35
Looks good, thanks for the fast update, you rock! 😉

[2019-10-25 09:05] kkomelin commented on #35
Thank your @johannpinson for your kind words! It's my pleasure.

[2020-02-10 09:06] marijnkampf opened #40 "Allow new lines in translations"
Currently translatable doesn't allow for new lines in translations. I have a few translations that include newlines and would like the code parser to pick these up.

There are two possible solution, the easiest would be to add the [s modifier](https://www.php.net/manual/en/reference.pcre.pattern.modifiers.php) to the regex pattern.
in the file `Core\CodeParses.php` change:
`protected $pattern = '/

[2020-02-10 12:45] kkomelin commented on #40
Hey @marijnkampf,

Thanks for the proposal. I like the second idea with the config option more.
But before we spend time on developing anything, let's answer a few questions:

1) We probably need a particular example where this feature is applicable. Could you please provide it?
2) Did you try "\n" control symbol to make a new line inside a translatable string?
3) What do you think about HEREDOC a

[2020-02-10 14:44] marijnkampf commented on #40
1. I'm using Markdown in some translatable labels to allow for emphasis. So an example would be:
__("# Hello world

Welcome to \*Thunderdome\*")

2. That would probably work, but would result in less readable text to translate.

3. This would require some significant changes in the regular expression used to matching strings.

4. No it won't affect keys without spaces or new lines.

[2020-02-10 15:54] kkomelin commented on #40
@marijnkampf Thanks for your answers. Now I understand your situation better.

The simplest solution in your case is to split the line into two because they have different meaning/purpose. And, in fact, in the resulting JSON, your line break would be "\n" or "\n\n".

Also, I would encourage you to try to avoid any markup/markdown markers/tags in your translatable strings because the translator doe

[2020-02-11 07:40] marijnkampf commented on #40
That would be a work around but my source code will be more readable without them.

If I create a pull request for an new-lines option are you happy to merge it?

[2020-02-11 08:15] kkomelin commented on #40
I would put big multiline text fragments into a database/files and fetch them depending on the selected language. Modern cache solutions can make such change almost not noticeable for end-user. But it's up to you.

Of course, go ahead. Just keep current user settings unchanged. And please add an automated test for it.

[2020-02-11 17:40] kkomelin commented on #40
@marijnkampf Just released https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.9.0 Please test it.

[2020-02-12 15:46] #40 closed

[2020-02-19 14:21] marijnkampf commented on #40
It's all working. Thanks!

[2020-02-21 12:42] ctf0 opened #42 "string with variable gets exported as well"
ex.
[code]

[code]

atm we will also get
[code]
is there a way to ignore such a case ?

[2020-02-21 14:08] andreich1980 commented on #42
@ctf0 maybe you should use a placeholder like this
[code]
This way it should extract
[code]

[2020-02-21 14:15] ctf0 commented on #42
i dont think json supports placeholders https://laravel.com/docs/6.x/localization#replacing-parameters-in-translation-strings

[2020-02-21 14:27] andreich1980 commented on #42
It does https://laravel-news.com/json-based-translations

[2020-02-21 14:44] ctf0 commented on #42
great, thanx, will try it then

[2020-02-21 20:08] kkomelin commented on #42
Hi @ctf0, Thanks for your question.

As @andreich1980 suggested, it's better to use placeholders instead of inline variables.

If it doesn't work for you, you may try persistent strings https://github.com/kkomelin/laravel-translatable-string-exporter#persistent-strings

Hope it helps.

[2020-02-21 22:13] ctf0 commented on #42
perfect, thanx again for your support

[2020-02-21 22:13] #42 closed

[2020-02-22 07:06] kkomelin commented on #29
Assuming the question has been answered...

[2020-02-22 07:06] #29 closed

[2020-03-03 14:53] tumichnix opened #43 "Support for Laravel 7"
It would be great if this supported Laravel 7 :)

`- kkomelin/laravel-translatable-string-exporter 1.9.0 requires illuminate/translation ^5.4|^6 -> satisfiable by laravel/framework[v6.17.1], illuminate/translation[5.7.17, 5.7.18, 5.7.19, v5.4.0, v5.4.13, v5.4.17, v5.4.19, v5.4.27, v5.4.36, v5.4.9, v5.5.0, v5.5.16, v5.5.17, v5.5.2, v5.5.28, v5.5.33, v5.5.34, v5.5.35, v5.5.36, v5.5.37, v5.5.39, v5.5

[2020-03-03 15:04] kkomelin commented on #43
Thanks @tumichnix for the request. I will perform some tests and make it happen in a few days.

[2020-03-04 06:28] kkomelin commented on #43
@tumichnix I've added L7 support to the master branch and tested it. Works fine.
However, I'm still working on some TravisCI test issues. That's why I've not yet created a release.

If it's critical for you to have the project updated, you may temporary switch to the development snapshot by changing package version to `dev-master` in your composer.json:
[code]

And I will keep you updated on my pr

[2020-03-04 16:45] kkomelin commented on #43
@tumichnix
I've just created a new release with L7 support https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.10.0
Thanks for requesting the update.
Please let me know if it works for you.

[2020-03-05 04:15] #43 closed

[2020-03-17 18:53] ajanini opened #44 "Strings with quotes get truncated or escaped again"
I'm using Laravel v. 5.7.28 and laravel-translatable-string-exporter v. 1.10.0.

When I run `php artisan translatable:export pt-BR`, some strings with double-quotes get truncated in my pt-BR.json file.

**Example code:**
[code]

**Generated pt-BR.json** (relevant line shown):
[code]

---

Also, some strings get escaped again or miss-escaped (this depends whether the original string is within singl

[2020-03-18 12:47] kkomelin commented on #44
Hi @ajanini,

Thanks for reporting these issues.

Let me clarify some things...

1) You don't probably need `sprintf()` in Laravel in most cases.

For example, your line:

[code]
would become:
[code]

2) Although I understand that truncating strings the way you mentioned is not correct, the solution may take some time, so I suggest you not using round brackets in your strings for now.

For example

[2020-03-18 12:54] ajanini commented on #44
Thank you @kkomelin! I'll start using your suggestions, for sure.
I understand the complexities involved, and my wish is to help you improve this great package.
Best regards!

[2020-03-18 12:54] #44 closed

[2020-03-18 13:09] kkomelin opened #45 "Strings containing round brackets are truncated improperly"
## Problem/Motivation:

As reported here https://github.com/kkomelin/laravel-translatable-string-exporter/issues/44

The string with round brackets
[code]

results in the following:

[code]

## Proposed Resolution

Use greedy approach for the search regular expression.

[2020-03-18 13:12] kkomelin commented on #44
Thank you @ajanini for your wishes. Watch the issue https://github.com/kkomelin/laravel-translatable-string-exporter/issues/45 to stay updated on the "round brackets" issue status.

[2020-09-21 05:30] sultan1202 opened #49 "Make it possible to exclude some folders from the search"

[2020-09-21 15:35] kkomelin commented on #49
Hi @sultan1202,
Unfortunately, it's not currently possible to set excluded folders but you can add directories which `laravel-translatable-string-exporter` searches in by setting `directories` list in the config https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/config/laravel-translatable-string-exporter.php#L4
Please let me know if it's not enough and provide an example

[2021-01-07 01:19] OzanKurt opened #51 "It cannot handle `__('Search...')`"
It parses it as `resources/lang/en/Search.php`:

It should skip empty strings.

[code]

[2021-01-07 01:20] #51 closed

[2021-07-05 04:58] garyross opened #53 "Exclude short translation keys from export"
Thank you for the excellent tool.

Would it be possible to exclude patterns that use short keys? For example, I use `__('menus.tickets')` for my menus and there is a [corresponding short key file](https://laravel.com/docs/8.x/localization#using-short-keys) like this:

[code]

However, when I run `php artisan translatable:export ja` it creates this line:

`"menus.tickets": "menus.tickets",`

which

[2021-07-05 10:20] kkomelin commented on #53
Thank you @garyross for your kind words and the feature request! I think such option would make sense.
I will start working on it this week. Will keep you updated on my progress.

[2021-07-08 05:57] kkomelin commented on #53
Hi @garyross ,

Good news. I've implemented translation key check which you requested.

You may test it by using the `master` branch of the project and setting `exclude-translation-keys` to `true` through the package config file this way https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/config/laravel-translatable-string-exporter.php#L40

Read how to use/test a developme

[2021-07-08 05:58] kkomelin commented on #53
And if you need to see how I tested the changes, take a look at the corresponding test case https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/tests/ExporterTest.php#L306

[2021-07-16 13:02] kkomelin commented on #53
Due to no response from the topic starter, I consider this functionality ready for public use. Will release it soon.

[2021-07-16 13:16] kkomelin commented on #53
The new release has been created https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.13.0
Thanks @garyross for describing the issue and requesting the change.

[2021-07-16 13:16] #53 closed

[2021-07-17 00:57] garyross commented on #53
@kkomelin Thank you so much. I'll test this out and let you know if it works.

[2021-07-17 06:29] kkomelin commented on #25
Just added the `'exclude-translation-keys'` option to the config file https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/config/laravel-translatable-string-exporter.php#L40 which allows to ignore/exclude short translation keys from JSON export, so you may try to use both translation approaches together.

[2021-08-05 19:41] anubhav217 opened #54 "JSON File"
Hello first, this is a great package, thanks for publishing it!

As the title says, it would be nice to have the untranslated strings at the top of the JSON file, followed by the other strings, all in alpha order.

This would be a config option... Is it possible?

[2021-08-06 04:33] kkomelin commented on #54
Duplicate https://github.com/kkomelin/laravel-translatable-string-exporter/issues/26

[2021-08-06 04:33] #54 closed

[2021-08-06 19:04] anubhav217 opened #55 "Parsing Issues still persist"

[2021-08-08 06:44] kkomelin commented on #26
Decided not to add an additional indentation to the untranslated strings and instead implemented putting them at the top of a translation file. Currently testing the feature. If all goes well, will release it soon.

[2021-08-08 07:00] kkomelin commented on #26
Created a new release with this feature added https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.14.0

[2021-08-08 07:00] #26 closed

[2021-08-08 07:02] #25 closed

[2021-08-08 16:50] kkomelin commented on #55
@anubhav217 Do you mean the parsing issues with quotes described here https://github.com/kkomelin/laravel-translatable-string-exporter/pull/52 ?

[2021-08-09 18:57] anubhav217 commented on #55
@kkomelin Yes!

[2021-08-30 16:16] runthis opened #56 "Ability to add comments that provide enhanced features"
This is a feature request 🤓, not an issue request.

It would be convenient, if directly before a translation, a comment could be added to explain what the text is. This could open up a few possibilities on managing how the script interacts directly inside the code, such as allowing a string, or set of strings to exist inside the comment block that get added to the lang files. Let me provide an exa

[2021-09-01 13:48] kkomelin commented on #56
Thank you @runthis for your feature request.

Let me address the two cases you mention one by one:

1. I recommend wrapping a string in the translation function as early as possible, so your first example would look like this:

[code]

2. For the second case, I would recommend using [persistent strings](https://github.com/kkomelin/laravel-translatable-string-exporter#persistent-strings):

[code]

[2021-09-05 22:39] runthis commented on #56
Thank you for this amazing tool, it definitely helped me get up and running on a project.

Unfortunately as it progressed, I needed strings inside of methods (like if a sprintf was used) and also inside of specific database tables and columns, among other features as mentioned above, and it all be automated, so I rolled my own artisan command that takes care of blade files, and pulling info from t

[2021-09-05 22:39] #56 closed

[2021-09-06 07:31] kkomelin commented on #56
@runthis Not at all. Thank you for suggesting ideas and good luck with your projects!

[2021-09-14 09:12] kohlerdominik opened #57 "Undetected strings if "key"-argument starts on new line"
I'm not sure wether this is a bug or intended behaviour; for me it's a bug as it's an issue with code style, but there might be reasons for it.

When starting the key on a new line, it's not detected. For example like this:
[code]

The key is detected like this, though:
[code]

[2021-09-14 09:22] kkomelin commented on #57
Good catch @kohlerdominik. I think the issue can be related to the RegExp used for parsing file content.
If you plan to work on this issue, please let's start from adding an automated test to be able to quickly reproduce the bug.

[2021-09-14 09:28] kohlerdominik commented on #57
Unfortunatelly, I do not have time to work on a PR right now. As workaround I added my one occurence of this to `persistent-strings`. Maybe someone else finds time, or I might come back to it in a few weeks.

[2021-09-14 09:33] kkomelin commented on #57
Okay, thanks @kohlerdominik. I will take a look at it in my spare time.

[2021-09-21 12:42] anubhav217 commented on #55
Please do give a feedback

[2021-09-21 12:42] anubhav217 commented on #55
@kkomelin

[2021-09-21 14:20] kkomelin commented on #55
Hi @anubhav217,
What kind of feedback do you need?
The parsing RegExp is not ideal and we have a few corresponding tickets/PRs https://github.com/kkomelin/laravel-translatable-string-exporter/issues/57 https://github.com/kkomelin/laravel-translatable-string-exporter/issues/45 https://github.com/kkomelin/laravel-translatable-string-exporter/pull/52
Please let me know if you can help with fixing/imp

[2022-02-11 14:50] phh opened #60 "Does not support new Laravel 9 directory structure"
Since Laravel 9.x, [the lang folder has been moved](https://github.com/laravel/laravel/commit/9aae50e5017e3063bc3f53e9ecbfc098e4ef74a2).

The old folder structure still works, however the new one does not.

I made a quick and dirty fix both structure, however, I have more ideas how to improve it (and also add some tests!).
- Could be an ENV and config for language folder structure
- Could use the

[2022-02-11 14:50] phh commented on #60
https://github.com/kkomelin/laravel-translatable-string-exporter/pull/61

[2022-02-11 15:10] kkomelin commented on #60
I suggest us making the translation folder path configurable instead of supporting multiple folders.

[2022-02-11 15:21] phh commented on #60
But since Laravel mainly has these to formats, why not make sure both works of out the box, and then support edge cases by config if you decide to move your language folder to another location.

[2022-02-11 15:25] kkomelin commented on #60
@phh Makes sense. Alright, I will work on your PR to make it work.

[2022-02-11 18:21] kkomelin commented on #60
Well, investigating the bug can take time but our users can't wait. I will now move the translation path to the config. We can improve it later.

[2022-02-11 20:06] kkomelin commented on #60
I don't like the approach which is used in Laravel core to get the language path https://github.com/laravel/framework/blob/4c7cd8c4e95d161c0c6ada6efa0a5af4d0d487c9/src/Illuminate/Foundation/Application.php#L324 but I've implemented the same for now just to match.
No new config parameters.

[2022-02-11 20:08] kkomelin commented on #60
@phh When you have time, could you please test the `master` branch?

[2022-02-11 20:53] phh commented on #60
Yes! Seems to work. I've only tested with Laravel 9 but following works for me:
- `/lang` and `/resources/lang` both exists - `resources/lang` is getting picked (maybe choose `/lang` as default in V2)
- `/lang` exists works
- `/resources/lang` works
- Not having a lang folder will just output an error: `file_put_contents(/var/www/html/lang/<lang>.json): Failed to open stream: No such file or direc

[2022-02-11 20:54] phh commented on #60
I think [src/Core/Utils/Misc.php](https://github.com/kkomelin/laravel-translatable-string-exporter/blob/96c27ba525b1cc53721aa007a1bf24097fe7659d/src/Core/Utils/Misc.php) can be removed

[2022-02-11 21:13] phh commented on #60
@kkomelin Why not go all in and just use the `lang_path()` or alternative the `resource_path()`?

[code]

[2022-02-12 06:50] kkomelin commented on #60
Thank you @phh for your tests and the detailed feedback. I will answer your questions one by one.

Yes, I'm thinking of not supporting anything below Laravel 9 in 2.0.0, so everything can be simplified in there.

Yes, thanks. I just forgot to delete it. Now it's done here https://github.com/kkomelin/laravel-translatable-string-exporter/commit/55a5ca6243c3e28922e926d03199927137bc6abb

1) As you poi

[2022-02-12 07:04] kkomelin commented on #60
The release is here https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.15.1
Thanks for your help.

[2022-02-12 07:04] #60 closed

[2022-02-15 18:28] kkomelin opened #67 "Drop support for PHP 5.6 in 1.16.0"
re https://github.com/kkomelin/laravel-translatable-string-exporter/pull/66#issuecomment-1039418793

We set required PHP version through `composer.json`, so we can be sure that users with previous versions of PHP don't get not-yet-supported PHP features.

[2022-02-15 18:32] kkomelin commented on #67
@phh Please take a look https://github.com/kkomelin/laravel-translatable-string-exporter/commit/8a387b35f9253b6bdb13418fb7b4e84bfd1c16e1

[2022-02-15 18:37] kkomelin commented on #67
If all good, you may create a new `1.16.0` release yourself (I've given you co-maintainer permissions). I'm @kkomelin on Telegram if you need any additional information.

[2022-02-15 20:05] phh commented on #67
@kkomelin Yes, LGTM. I have some formatting things that could be included after the PHP bump as well :)

[2022-02-16 05:47] #67 closed

[2022-02-16 05:48] kkomelin commented on #67
Thanks @phh
Reviewed and merged your formatting PRs.

[2022-02-17 08:20] kkomelin opened #70 "Release 1.16.0"
What about making a new release?

I can do it myself or leave it to you @phh

[2022-02-17 08:24] phh commented on #70
Yes, just released it now: https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.16.0

[2022-02-17 08:36] kkomelin commented on #70
Thank you very much @phh for your contribution! Keep up the good things!
Btw, I've added some more info to the release notes https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.16.0

[2022-02-17 08:37] #70 closed

[2022-04-16 12:39] kkomelin commented on #45
Fixed here [1.16.1](https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.16.1)

[2022-04-16 12:39] #45 closed

[2022-04-16 12:39] kkomelin commented on #57
Fixed here [1.16.1](https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.16.1)

[2022-04-16 12:39] #57 closed

[2022-06-08 16:22] mrleblanc101 commented on #49
Would it be possible to add an ignore option for folder ?
For exemple, we have a vendor/nova folder which is translated with PHP shortkey.
But the Blade file are translated with JSON and fallback text.

[2022-06-08 17:02] mrleblanc101 opened #72 "require-dev instead of require ?"
Shouldn't this be a dev dependancy ?

[2022-06-08 17:10] mrleblanc101 commented on #49
Maybe in config instead of `directories`, maybe `search.include` and `search.exclude`

[2022-06-08 17:55] kkomelin commented on #72
Hi @mrleblanc101,

Thanks for your question.

Could you give more details on this matter?
Do you mean adding the [laravel-translatable-string-exporter](https://github.com/kkomelin/laravel-translatable-string-exporter) package as a dev dependency to your project?
Feel free to do it if you think you don't need it in production.

[2022-06-08 18:14] mrleblanc101 commented on #72
Yes I think the README is missleading. It should be in dev dependency so it's not auto loaded.

[2022-06-09 05:39] kkomelin commented on #72
Done. Please review @mrleblanc101

[2022-06-09 05:46] mrleblanc101 commented on #72
Perfect

[2022-06-09 05:46] #72 closed

[2022-06-09 05:47] kkomelin commented on #49
It makes sense but it requires work, and an important part of it is backward compatibility with previous versions of the config. So I think it's better to add a new config parameter, such as `ignorePaths` or something like that, rather than renaming `directories`.

[2022-06-09 05:50] kkomelin commented on #72
Great. Thanks for making the package better @mrleblanc101

[2022-06-09 05:59] mrleblanc101 commented on #49
If you publish the change in a semver major it wouldn't be an issue. I mean it's not much work to update the config anyway.

But if you prefer `ignorePath` go for it. I simply took the terms VS Code use as they make sense to me.

[2022-06-09 07:11] kkomelin commented on #49
Thanks for your opinion on this topic.

I wouldn't release a major version for a new feature, which is possible to make compatible, so I would add a new `ignore..` config parameter within the current major version.

[2022-06-11 11:48] kkomelin commented on #49
Hi @mrleblanc101,

I've just realized that your problem can be possibly solved with the `exclude-translation-keys` config option.
Please take a look:

[code]
https://github.com/kkomelin/laravel-translatable-string-exporter/blob/master/config/laravel-translatable-string-exporter.php#L40

[2022-06-11 17:30] kkomelin commented on #49
@mrleblanc101 I've just added the `excluded-directories` config parameter in this PR https://github.com/kkomelin/laravel-translatable-string-exporter/pull/73 Please welcome if you'd like to help with testing.

[2022-06-13 02:28] mrleblanc101 commented on #49
Thank you 🙏

[2022-06-13 06:36] kkomelin commented on #49
@mrleblanc101 You're welcome! I hope to release it this week.

[2022-06-13 07:37] kkomelin commented on #49
Here we go! [1.17.0](https://github.com/kkomelin/laravel-translatable-string-exporter/releases/tag/1.17.0)

[2022-06-13 07:37] kkomelin commented on #49
Please let me know if you notice any issues.

[2022-06-13 07:37] #49 closed

[2022-08-15 08:41] ragulka opened #74 "Split short-keyed translations into separate directories/files?"
Would it be possible to export translation strings to multiple different directories/files based on the dot-notation syntax?

The idea is that a string like `products.list.add-product` string would be exported to `lang/en/products/list.json`. This would make this package usable with [short keys](https://laravel.com/docs/9.x/localization#using-short-keys), which would allow breaking the files up by

[2022-08-18 10:59] kkomelin commented on #74
Hi @ragulka,
Thanks for your feature request but this package is aimed to be used for translation without short keys, so it's a bit out of scope of this package.

[2022-08-18 10:59] #74 closed